<div class="container-fluid">
  <div class="row">
    <% if current_user %>

      <h3>Welcome: <%= current_user.email %></h3>

     

  
    <% else %>

     <div class="jumbotron">
       <h2>Welcome to Safebox</h2>
        <p class="lead">
            One place to keep the secrets you don't want to tell anyone yet 
        </p>

        <p class="lead">
          We would only share the information with people on your confidant lists only when we stopped hearing from you
        </p>

       <p class="lead">
          Nobody can access your information because it's encrypted 
        </p>
     </div>

      <div class="d-flex justify-content-center">
       <div class="flex-direction-vertical ">
         <h2>Free Plan</h2>
            <div class="price">
               Price: $0
           </div>
        
          <ul>
            <li>Unlimited File Uploads</li>
            <li>File Encryption</li>
            <li>Access anywhere</li>
            <br>
          </ul>
    
        <p>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
        </p>
       </div> 


      <div class=' flex-direction-vertical'>
         <h2>Amaze Plan</h2>
        <div class="price ">
          Price: $20
        </div>
      
          <ul>
             <li>Unlimited File Uploads</li>
            <li>File Encryption</li>
            <li>Access anywhere</li>
            <li>Upload e-will</li>
             <li>Upload video</li>
            <li class='extra'>Add confidants</li>
          </ul>
        
        <p>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
        </p>
      </div>

      </div>

      
    <% end %>
  </div>
</div>