<h1>Events#update</h1>
<p>Find me in app/views/events/update.html.erb</p>






   
         
           
    
     
        <h2>Amaze Plan</h2>
        <div class="price ">
          Price: $20
        </div>
      
          <ul>
             <li>Unlimited File Uploads</li>
            <li>File Encryption</li>
            <li>Access anywhere</li>
            <li>Upload e-will</li>
             <li>Upload video</li>
            <li class='extra'>Add confidants</li>
          </ul>
        
        <p>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
        </p>
     