@import "bootstrap";
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-width: 300px;
    max-width: 1300px;
    font-family: "cocogoose", "lato", sans-serif;
    margin: 0 auto !important;
    overflow-x: hidden;
}

.navbar-style {
    width: 100%;
    background-color: rgb(246, 247, 255);
    height: 7rem;
}

.jumbotron {
    width: 100%;
    text-align: center;
    background-image: asset-url('Morocco.jpg');
    background-size: 100% 100%;
    font-family: 'Helvetica Neue' !important;
    margin-top: 5rem;
    margin-left: -4.5em;
    text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

.listing {
    list-style: none;
    padding-left: 0;
}

.navbar-brand {
    font-size: 2rem;
}

.button_height {
    margin-left: 5rem;
}